*.exe
*.out
*.app
*.o
*.obj
*.so
*.dll
*.dylib
*.lib
*.a

/build/
/bin/
/Debug/
/Release/
/x64/
/x86/
/cmake-build-*/

*.pch
*.pdb
*.idb

*.swp
*.swo
*.tmp

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.vcxproj.filters
*.sln
*.user
*.opensdf
*.sdf
*.ipch
*.log
*.vs/

*.rtbw
*.rtbz

*.pro.user
*.qbs.user
*.qmake.stash

.idea/

*.pbxuser
*.xcuserstate
*.xcworkspace
xcuserdata/

*.log

.DS_Store

Thumbs.db
ehthumbs.db

*~

